
	body{
    background-image:url("https://media.giphy.com/media/xMu2442GXSmyI/giphy.gif");
	position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 35% 8%;
    background-repeat: no-repeat;
	opacity:0.85;
	}
	
#chart{
	padding:10px;
	position:relative;
	
	
}
@keyframes blink { 
   50% { border-color: black; } 
}

    

    #question{
		display:table;
		background:white;
		position:fixed;
		left:550px;
		top:220px;
		overflow:auto;
	    color:#black;
		font-size: 25px;
        font-weight:900;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		width: 800px;
		border: 10px solid #ccc;
		border-radius: 4px;
       animation: blink 10s step-end infinite alternate;
    }
	
	.input-group{
		position:relative;
		right:140px;
		top:250px;
		
	}
	
	
 	ul{
		
		margin: 0px 10px 505px 10px;
		padding: 5px;
		list-style: none;
	}
		
	ul li{
		float: left;
		width: 290px;
		height: 60px;
		background-color: #660066;
		opacity: .6;
		line-height: 60px;
		text-align: center;
		font-size: 25px;
		margin: 3px;
		border: 4px solid black;
	}
	
	ul li a,ul li a:visited{
		
		text-decoration-line:none;
		color: white;
		display: block;
		
	}
		
	ul li a:hover{
		background-color:#ff66ff;
		border: 4px solid black;
		color:black;
		
		text-decoration-line:none;
		
		
	}
	 #ans{
	
    width: 250px;
    background: none repeat scroll 0% 0% #FFFF00;
    border: 1px solid #91B57C;
    
    color: black;
    border-radius: 8px;
    box-shadow: 1px 2px 3px;

	
        font-family:Helvetica, Arial, sans-serif;
        font-size:11px;
        pointer-events:none;
    
	}
	
	
	#countdown{
	font-size:30px;
	color:white;
	text-decoration:underline;
	text-shadow:4px 4px 4px blue;
	width:260px; height:45px;
	position:fixed;
	left:70%;
	}
	
	
	.font{
font-family: 'Joti One', cursive;
font-size:80px;
text-shadow: 2px 2px #A5ABAD;
opacity: 0.9;

}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 80;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #7FAAB5;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #0D2D36;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
