
	body{
    background-image:url("https://media.giphy.com/media/xMu2442GXSmyI/giphy.gif");
	position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 35% 8%;
    background-repeat: no-repeat;
	opacity:0.85;
	}
	
#chart{
	padding:10px;
	position:relative;
	
	
}
@keyframes blink { 
   50% { border-color: black; } 
}

    

    #question{
		display:table;
		background:white;
		position:fixed;
		left:550px;
		top:220px;
		overflow:auto;
	    color:#black;
		font-size: 25px;
        font-weight:900;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		width: 800px;
		border: 10px solid #ccc;
		border-radius: 4px;
       animation: blink 10s step-end infinite alternate;
    }
	
	.input-group{
		position:relative;
		right:140px;
		top:250px;
		
	}
	
	
 	ul{
		
		margin: 0px 10px 505px 10px;
		padding: 5px;
		list-style: none;
	}
	input[type=button]{
		float: left;
		width: 290px;
		height: 60px;
		background-color: #660066;
		opacity: .6;
		line-height: 60px;
		color:white;
		text-align: center;
		font-size: 25px;
		padding: 3px;
		
	}
	
	.btn{
		float: left;
		width: 290px;
		height: 60px;
		background-color: #660066;
		opacity: .6;
		line-height: 60px;
		color:white;
		text-align: center;
		font-size: 25px;
		padding: 3px;
		margin: 0px 10px 505px 10px;
		padding: 5px;
		list-style: none;
	}
	
	 #ans{
	
    width: 250px;
    background: none repeat scroll 0% 0% #FFFF00;
    border: 1px solid #91B57C;
    
    color: black;
    border-radius: 8px;
    box-shadow: 1px 2px 3px;

	
        font-family:Helvetica, Arial, sans-serif;
        font-size:11px;
        pointer-events:none;
    
	}
	
	
	#countdown{
	font-size:30px;
	color:white;
	text-decoration:underline;
	text-shadow:4px 4px 4px blue;
	width:260px; height:45px;
	position:fixed;
	left:70%;
	}
	
	
	.font{
font-family: 'Joti One', cursive;
font-size:80px;
text-shadow: 2px 2px #A5ABAD;
opacity: 0.9;

}
 #clockdiv{
position:relative;
left:300px;
	top:10px;
}

#timer{
  font-size:30px;
  text-align:left;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 80;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #7FAAB5;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #0D2D36;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -10px;
	text-align: center;
	top: -12px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #000; }

.modal-content{
		height: 350px;
		width: 130%;
}

.modal-body{
	color: white;
	font-size: 20;
	background-image:url("https://media.giphy.com/media/zbmdkAcEfhP3i/giphy.gif");
}

.modal-title{
	display: inline-block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 10px;
          border: none;
          margin-top: 	200px;
          font: normal normal bold 48px/normal Tahoma, Geneva, sans-serif;
          color: white;
          text-decoration: normal;
          -o-text-overflow: clip;
          text-overflow: clip;
          letter-spacing: 6px;
          white-space: nowrap;
          text-shadow: 0 0 10px rgba(255,255,255,1) , 0 -1px 20px rgba(252,222,171,1) , 0 0 30px rgba(249,153,42,1) , 0 0 40px rgba(255,127,0,1) , 0 0 70px #ff6600 , 0 0 80px #f76c02 , 0 0 100px #ff5d00 ;
          -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
          -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
          -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
          transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
          -moz-animation-duration: 8ms;
          -moz-animation-name: blink;
          -moz-animation-iteration-count: 8;
          -moz-animation-direction: alternate;

          -webkit-animation-duration: 15ms;
          -webkit-animation-name: blink;
          -webkit-animation-iteration-count: 8;
          -webkit-animation-direction: alternate;

          animation-duration: 3000ms;
          animation-name: blink;
          animation-iteration-count: 8;
          animation-direction: reverse;
        }
		@-moz-keyframes blink {
            from {
              opacity: 1;
            }

            to {
              opacity: 0;
            }
          }

          @-webkit-keyframes blink {
            from {
              opacity: 1;
            }

            to {
              opacity: 0;
            }
          }

          @keyframes blink {
            from {
              opacity: 1;
            }

            to {
              opacity: 0;
            }
          }